{% extends 'AddData.html' %}

{% block header %}
  <h1>{% block title %}Posts features{% endblock %}</h1>
  {% if g.user %}
    <a class = "action" href="/AddData">Create a new data</a>
  {% endif %}
{% endblock %}

{% block content %}
{%if g.user%}
  {% for Adddata in data_table %}
    <article class="post">
          <header>
              <div>
          <h1>ADD DATa</h1>
          
        </div>
        
        
        
      
      <p class = "body">{{ Adddata[1] }}</p>
      <p class = "body">{{ Adddata[2] }}</p>
      <p class = "body">{{ Adddata[3] }}</p>
      <p class = "body">{{ Adddata[4] }}</p>
      <p class = "body">{{ Adddata[5] }}</p>
      <p class = "body">{{ Adddata[6] }}</p>
      <p class = "body">{{ Adddata[7] }}</p>
      <p class = "body">{{ Adddata[8] }}</p>
      <p class = "body">{{ Adddata[9] }}</p>
      <p class = "body">{{ Adddata[10] }}</p>
      <p class = "body">{{ Adddata[11] }}</p>
      
      
      


    {% if not loop.last %}
    </article>
        {% if not loop.last %}
      <hr>
    {% endif %}
      <hr>
    {% endif %}
  {% endfor %}
  {%endif%}
{% endblock %}